.cache
.DS_Store
build/**
*:Zone.Identifier

# c

c/libhello/src/build
c/libhello/src/root

# Linux kernel
lkm/**/Module.symvers
lkm/**/modules.order
lkm/**/*.ko
lkm/**/*.o
lkm/**/*.mod.c
lkm/**/*.mod
lkm/**/.*.o.cmd
lkm/**/.*.ko.cmd
lkm/**/.*.mod.cmd
lkm/**/.*.symvers.cmd
lkm/**/.*.order.cmd
lkm/**/init
lkm/**/initrd.gz

# python
__pycache__

# js
node_modules
js/package.json
js/package-lock.json

# go
go.sum
